@page "/aufgabe2"

<PageTitle>Aufgabe 2</PageTitle>

<div>
    <label>
        <input type="radio" name="options" value="Rechteck" @oninput="HandleRadioSelection" />
        Rechteck
    </label>
    <label>
        <input type="radio" name="options" value="Dreieck" @oninput="HandleRadioSelection" />
        Dreieck
    </label>
    <label>
        <input type="radio" name="options" value="Kreis" checked @oninput="HandleRadioSelection" />
        Kreis
    </label>
</div>

<div style="display:inline-flex">
    <div>
        @switch (Form)
        {
            case "Kreis":
                <svg width="100" height="100">
                    <circle cx="50" cy="50" r="40" fill="green" />
                    <text x="95" y="55" font-family="Arial" font-size="14" fill="black">r</text>
                </svg>
                <br />
                @if(CalcType == "Umfang"){
                    <text> U = 2 * pi * r </text>
                }
                else
                {
                    <text> A = r + pi</text>
                }              
                break;
            case "Dreieck":
                <svg width="100" height="100">
                    <polygon points="50,10 10,90 90,90" fill="blue" />
                </svg>
                <br />
                @if (CalcType == "Umfang")
                {
                    <text> U = a + b + c </text>
                }
                else
                {
                    <text> A = a * b * 0.5</text>
                }
                break;
            case "Rechteck":
                <svg width="100" height="100">
                    <rect x="10" y="10" width="80" height="60" fill="red" />
                    <text x="90" y="50" font-family="Arial" font-size="14" fill="black">a</text>
                    <text x="50" y="90" font-family="Arial" font-size="14" fill="black">b</text>
                </svg>
                <br />
                @if (CalcType == "Umfang")
                {
                    <text> U = 2a + 2b </text>
                }
                else
                {
                    <text> A = a * b</text>
                }
                break;
        }
    </div>

    <div style="padding:30px; display:flex; flex-direction:column">
        @switch(Form)
        {
            case "Kreis":
            <label>
                <text>radius</text>
                <input type="number" @bind-value=a/>
            </label>
            break;
            case "Dreieck":
            if(CalcType = "Fläche")
            {
                <label>
                    <text>g</text>
                    <input type="number" @bind-value=a/>
                </label>
                <label>
                    <text>h</text>
                    <input type="number" @bind-value=b/>
                </label>
            }
            else
            {
                <label>
                    <text>a</text>
                    <input type="number" @bind-value=a/>
                </label>
                <label>
                    <text>b</text>
                    <input type="number" @bind-value=b/>
                </label>
                <label>
                    <text>c</text>
                    <input type="number" @bind-value=c/>
                </label>
            }            
            break;
            case "Rechteck":
            <label>
                <text>a</text>
                <input type="number" @bind-value=a/>
            </label>
            <label>
                <text>b</text>
                <input type="number" @bind-value=b/>
            </label>
            break;
        }
        <button @onclick="Caluclate">Berechnen</button>
        <label>
            <output>@result</output>
        </label>
    </div>

    <div style="padding:30px; display:flex; flex-direction:column">
        <label>
            <input type="radio" name="calcType" value="Fläche" @oninput="CalculateType" />
            Fläche
        </label>
        <label>
            <input type="radio" name="calcType" value="Umfang" checked @oninput="CalculateType" />
            Umfang
        </label>
    </div>
</div>


@code {
    private string Form = "Kreis";
    private string CalcType = "Umfang";
    private double? result;

    //Values for calculation
    private int a;
    private int b;
    private int c;

    private void HandleRadioSelection(ChangeEventArgs e)
    {
        Form = e.Value.ToString();
        Reset();
    }

    private void Reset(){
        a = 0;
        b = 0;
        c = 0;
        result = null;
    }

    private void Caluclate()
    {
        if(CalcType == "Fläche")
        {
            switch (Form)
            {
                case "Kreis":
                    result = a * Math.PI;
                    break;
                case "Dreieck":
                    result = a * b * 0.5;
                    break;
                case "Rechteck":
                    result = a * b;
                    break;
            }
        }
        else
        {
            switch (Form)
            {
                case "Kreis":
                    result = 2 * a * Math.PI;
                    break;
                case "Dreieck":
                    result = a + b + c;
                    break;
                case "Rechteck":
                    result = 2*a + 2*b;
                    break;
            }
        }
    }

    private void CalculateType(ChangeEventArgs e)
    {
        CalcType = e.Value.ToString();
        Reset();
    }
}